body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
    position: relative;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

input {
    font-size: 1rem;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button {
    background-color: #5264AE;
    border: none;
    color: white;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #304E91;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.remove-name-btn {
    margin-left: 10px;
}
.location-container {
max-width: 800px;
width: 100%;
}
#search-box {
margin-top: 10px;
width: 30%;
height: 5.5%
}